[DEFAULT]
data_dir = /home/icb/hannah.spitzer/projects/pelkmans/local_data
experiment_dir = /home/icb/hannah.spitzer/projects/pelkmans/local_experiments/NascentRNA_new


[data]
; register individual constants files for different data sources here
; they will be referenced by the chosen name in the code
NascentRNA = /home/icb/hannah.spitzer/projects/pelkmans/software_new/miann_ana/NascentRNA_constants.py
